@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Libre Franklin", sans-serif;
    box-sizing: border-box;
    color: #000000;
}


/* Style Guide */


.display-1{
    font-size: 96px;
    font-weight: 600;
    line-height: 96px;
}

.display-2{
    font-size: 85px;
    font-weight: 600;
    line-height: 85px;
}

.display-3{
    font-size: 70px;
    font-weight: 600;
    line-height: 75px;
}

h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}

h2{
    font-size: 56px;
    font-weight: 600;
    line-height: 60px;
}

h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}

h5{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

h6{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.sub-heading-1{
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.sub-heading-2{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.sub-heading-3{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.body-1{
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}

.body-2{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.body-3{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.body-4{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.body-5{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/* btns style guide */
.btn-red{
    background-color: #E31D40 ;
    color: #ffffff ;   
}

.btn-green{
    background-color: #4B8510;
    color: #ffffff ;   

}

.btn-blue{
    background-color: #337AB3;
    color: #ffffff ;   
}

.btn-orange{
    background-color: #DF3603;
    color: #ffffff ;   
}

.btn-magenta{
    background-color: #de1285;
    color: #ffffff ;   
}

.color-grey-1{
    color: #363636
}

.color-grey-2{
    color: #747474;
}

a{
    color: #000000;
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

a:hover{
    color: #747474;
    transition: color 250ms ease-in-out;
}

/* Style Guide End */

.register-container {
    border-radius: 10px;
    border: 2px solid #E0E0E0;
}

/* .pass-container {
    position: relative;
}

.pass-input {
    padding-right: 40px;
} */

/* header */

.main_logo{
    font-size: 50px;
}

.side_logo{
    font-size: 32px;
    font-weight: 400;
}

/* form section */

.login-container{
    border-radius: 10px;
    border: 2px solid #E0E0E0;
}

.toggle-pass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    border: none;
    background: none;
}


.form-check-label {
    font-size: 0.9rem;
}

#err_sec{
    display: none;
    color: red;
}

#error_text{
    text-wrap: wrap;
}

input{
    border-radius: 4px;
    border: 2px solid #E0E0E0;
}

.sub_btn{
    padding: 16px 15px;
    width: 100%;
}

.sub_btn:hover{
    background-color: #E31D40 ;
    color: #ffffff ;   
}

.reg_btn{
    padding: 16px 15px;
    width: 60%;
}

.reg_btn:hover{
    background-color: #E31D40 ;
    color: #ffffff ;   
}

.red-star{
    color: #E31D40;
}